.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-items: center;
    padding: 2rem 2rem 5rem;
    gap: 4rem;
    background-color: rgba(237, 237, 237, 0.7);
}

@media (min-width: 640px) {
    .home-container {
        padding: 5rem;
    }
}

.home-content {
    display: flex;
    grid-row-start: 2;
    gap: 2rem;
    align-items: flex-start;
    text-align: center;
}

.home-main {
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    align-items: flex-start;
}

@media (max-width: 2560px) {
    .home-main {
        gap: 0.15rem;
    }
}

@media (min-width: 2560px) {
    .home-main {
        gap: 1rem;
    }
}

.home-title {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
}

@media (max-width: 2560px) {
    .home-title {
        font-size: 1.5rem; /* Approximation for 2lg */
        line-height: 2rem;
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 2560px) {
    .home-title {
        font-size: 66px;
        margin-bottom: 2rem;
    }
}

.home-paragraph {
    font-size: 1rem;
    color: black;
    width: 100%;
    text-align: left;
}

@media (max-width: 2560px) {
    .home-paragraph {
        font-size: 18; /* Approximation for 2lg */
        /* line-height: 2rem; */
        line-height: 1.5rem;
        width: 20rem; /* Assuming 1rem = 4 units */
    }
}

@media (min-width: 2560px) {
    .home-paragraph {
        font-size: 28px;
        line-height: 2.5rem;
        width: 40rem; /* Assuming 1rem = 4 units */
    }
}

.resume-section {
    grid-row-start: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.resume-text {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
}

.resume-arrow {
    padding: 0.75rem;
    border-radius: 9999px;
    color: black;
    transition-property: all;
    transition-duration: 300ms;
}

.resume-arrow:hover {
    transform: scale(1.75);
    color: #4B5563; /* Corresponds to hover:text-gray-600 */
    cursor: pointer;
}

@media (max-width: 2560px) {
    .icon-container {
        transform: translateY(-30px);
    }
}
@media (min-width: 2560px) {
    .icon-container {
        transform: translateY(-100px);
    }
}

.terminal-icon {
    background-color: rgba(237, 237, 237, 0.6);
    border-radius: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

@media (max-width: 2560px) {
    .terminal-icon {
        width: 200px;
        height: 200px;
        padding: 40px;
    }
}

@media (min-width: 2560px) {
    .terminal-icon {
        width: 350px;
        height: 350px;
        padding: 50px;
    }
}

.terminal-icon:hover {
    color: #2A628F;
    transform: scale(1.1);
}
