.App {
  display: flex;
  align-items: center; /* To center items vertically */
  justify-content: center; /* To center items horizontally */
  height: 80vh;
  align-items: center;
  margin: 0;
}

.Notepad {
  text-align: center;
}

.Title {
  padding: 20px;
}

.GoogleLogin {
  display: flex;
  align-items: center;
  justify-content: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textArea {
  display: flex;
  flex-direction: column; /* Align flex items vertically */
  position: fixed;
}

.textArea input,
.textArea textarea {
  margin: 10px; /* Optional: Add some spacing between the input field and the textarea */
}

.textArea textarea {
  resize: vertical; /* Allow vertical resizing */
  min-height: 300px; /* Set a maximum height for the textarea */
  max-height: 500px; /* Set a maximum height for the textarea */
}
