.header {
    background-color: rgb(2, 190, 247);
    height: 4.5em;
    line-height: 4em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
}

.header>ul {
    display: inline;
    margin: 0;
    list-style-type: none;
}

.header>ul>li {
    display: inline;
    margin-right: 1.5em;
}

.header>ul>li>p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.header>ul>li.logo {
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    text-decoration: none;
}

.header-left {
    justify-self: start;
}

.header-right {
    justify-self: end;
    list-style: none;
    padding-right: 15px;
}

.header-right li {
    display: flex;
    align-items: center;
}

.header-right p {
    font-family: sans-serif;
    margin: 0;
    font-size: 1em;
}

.header-right button {
    font-family: sans-serif;
    margin-left: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
}
